<ion-header>
  <ion-toolbar>
    <!-- <ion-title>ETHEREUM</ion-title> -->
    <ion-img style="widows: 50px;height: 50px;"src="/assets/icon/ethicon.png"></ion-img>

  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card >
      <ion-card-content>
        <ion-card-title>{{data.price_usd}}<span style="color:gainsboro"> USD</span></ion-card-title>
       
    
      </ion-card-content>
    </ion-card>
    <ion-card >
        <ion-card-content>
         
          <ion-card-title>{{data.rank}} <span style="color:gainsboro"> in Ranking</span></ion-card-title>
          
      
        </ion-card-content>
      </ion-card>
      <ion-card >
          <ion-card-content>
            
            <ion-card-title>{{data.market_cap}} <span style="color:gainsboro"> Market-Cap</span></ion-card-title>
        
          </ion-card-content>
        </ion-card>
        <ion-card >
            <ion-card-content>
         
              <ion-card-title>{{data.supply}}<span style="color:gainsboro"> Supply</span></ion-card-title>
         
          
            </ion-card-content>
          </ion-card>
 </ion-content>
